<!--
@Author: Lich_Amnesia
@Date:   2016-11-30T00:13:45-07:00
@Email:  Shen.Huang@Colorado.Edu
@Last modified by:   Lich_Amnesia
@Last modified time: 2016-11-30T00:26:02-07:00
-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">This is the test for uploading file</h3>
      </div>
      <hr/>
      <div>

      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
  </body>
</html>
